.btn {
  @apply inline-block border px-5 py-2 font-medium transition;
}

.btn-primary {
  @apply bg-primary text-white;
}

.btn-outline-primary {
  @apply border-primary bg-transparent hover:bg-primary hover:text-white;
}

.btn-solid-white {
  @apply bg-white rounded-[50px] px-7 min-w-[150px] text-dark shadow-[0px_15px_34px_rgba(0,0,0,0.1)] border-white text-sm;
}
