// navbar toggler
input#nav-toggle:checked ~ label#show-button {
  @apply hidden;
}

input#nav-toggle:checked ~ label#hide-button {
  @apply flex md:hidden;
}

input#nav-toggle:checked ~ #nav-menu {
  @apply block md:flex;
}

.header {
  @apply sticky top-0 z-50 bg-white py-2 dark:bg-darkmode-theme-dark;
}

// navbar items
.navbar {
  @apply relative flex flex-wrap items-center justify-between;
}

.navbar-brand {
  @apply text-xl font-semibold text-dark dark:text-darkmode-light;
  image {
    @apply max-h-full max-w-full;
  }
}

.navbar-nav {
  @apply text-center md:text-left;
}

.nav-item {
  @apply mx-3;
}

.nav-link {
  @apply p-3 text-lg font-semibold text-dark transition hover:text-primary dark:text-darkmode-light md:p-4;
}

.nav-dropdown {
  @apply mr-0;
}

.nav-dropdown-list {
  @apply z-10 rounded-lg bg-white p-4 shadow dark:bg-darkmode-theme-dark;
}

.nav-dropdown-item {
  @apply mb-1;
}

.nav-dropdown-link {
  @apply min-w-[150px] py-1 text-lg font-semibold text-dark transition hover:text-primary dark:text-darkmode-light dark:hover:text-primary;
}

// search style
.search-icon {
  @apply cursor-pointer p-2 text-xl text-dark hover:text-primary dark:text-darkmode-light;
}
.search-modal {
  @apply invisible absolute top-0 left-0 right-0 z-10 h-10 bg-white opacity-0 transition dark:bg-theme-dark md:h-full;
  .form-input {
    @apply h-full w-full border-0 text-lg;
  }
  .search-close {
    @apply absolute top-1/2 right-2 -translate-y-1/2 p-3 text-h4;
  }
  &.open {
    @apply visible opacity-100;
  }
}
