<section class="section">
  <div class="container">
    <h2 class="text-center h1 mb-4">Tab Component</h1>
  <ul class="flex tabs flex-wrap  text-sm font-medium text-center text-gray-500 ">
    <li class="mr-2 active-tab">
        <a href="#" aria-current="page" class="inline-block p-4 rounded-t-lg border hover:text-primary hover:bg-theme-light">Tab 1</a>
    </li>
    <li class="mr-2">
        <a href="#" class="inline-block p-4 rounded-t-lg border hover:text-primary hover:bg-theme-light">Tab 2</a>
    </li>
    <li class="mr-2">
        <a href="#" class="inline-block p-4 rounded-t-lg border hover:text-primary hover:bg-theme-light">Tab 3</a>
    </li>

</ul>
<div class="border rounded-lg ">
  <p class="tab-element text-dark text-left active-tab p-4   ">Tab-1 Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi quis a animi magnam! Ea numquam ullam quod facilis! Iste officia error eius earum officiis veniam at voluptate ullam laborum eum.</p>
<p class="tab-element text-dark text-left p-4">Tab-2 Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi quis a animi magnam! Ea numquam ullam quod facilis! Iste officia error eius earum officiis veniam at voluptate ullam laborum eum.</p>
<p class="tab-element text-dark text-left p-4">Tab-3 Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi quis a animi magnam! Ea numquam ullam quod facilis! Iste officia error eius earum officiis veniam at voluptate ullam laborum eum.</p>

</div>
  </div>
</section>
