<section class="m-10">
  <div class="container">
    <h4 class="h1 mb-4">Toast Component</h4>
    <div  class="fixed bottom-0  right-0 m-4">
      <div id="toast" class="bg-primary duration-[3s] hidden text-white  rounded-md p-4 mb-4 ">

        <div id="spinner-container" class="flex justify-center items-center ">
          <p class="text-white mr-2">Toast commponent...</p>
          <div id="spinner" class="animate-spin rounded-full h-4 w-4 border-t-2 border-b-2 border-border"></div>
        </div>
      </div>
    </div>
<button id="toast-button" class="bg-primary hover:bg-primary/80 text-white font-bold py-2 px-4 rounded">
  Open Toast
</button>
  </div>
</section>
